body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 20px;
    border: 15px;
    background-image: linear-gradient(45deg, #e2138c, #FFC5D3);
}
h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
}
.label {
    font-weight: bold;

}
.about-wrapper {
    display: flex;  
    align-items: flex-start;
    gap: 20px; 
}
.about-text p {
    font-size: 16px;
    margin: 8px 0;
    line-height: 1.5;
}
.profile-container{
  /* Dimensions should match the image's dimensions */
  width: 200px;
  height: 200px;
  /* Add the desired blue border to the wrapper */
  border: 5px solid blue;
  border-radius: 50%;

  /* Optional: center the content if needed, though with the image matching dimensions it should be fine */
  display: flex;
}

.round-image {
  width: 200px;         
  height: 200px;        
  border-radius: 50%;   
  object-fit: cover;    
}

/* Hover Animation */
.about-card {
    background-color: linear-gradient(45deg, #e2138c, #FFC5D3);   
    padding: 25px;
    border-radius: 15px;
    transition: 
        transform 0.4s ease,
        background-color 0.4s ease,
        box-shadow 0.4s ease;
}

.about-card:hover {
    background-color: linear-gradient(45deg, #e2138c, #FFC5D3);  
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.30);
}


#scrapbook img {
    border: 5x solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}